#time{
    height: 50px;
}
.card-grp{
    gap: 50px;
   
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 300px;
    margin: 10px;
    /* box-shadow: 10px 10px 5px 5px gray;  */
}

#navbar-nav-btn{
    margin: 0;
}