.navbar{
    display: flex; 
    align-items:center;
    justify-content: center;
    /* border : 1px solid yellow; */
}

#navbarNav{
    width: 100%;
    border-bottom: 1px solid White;
    
}

.navbar-brand{
    /* border : 1px solid red; */
}


#search-form{
    /* border : 1px solid red; */
}

.navbar-nav{
    /* border : 1px solid yellow; */
}
.navbar-nav-btn{
    /* border : 1px solid blue; */
    padding: 5px;
    margin: 5px;
    width: 80px;
    height: 40px;
}
#navbar-nav-btn{
    margin: 0;
}